.dq-list {
    .ordering {
        display: inline-block;

        position: relative;
        height: 1em;
        width: 1em;

        user-select: none;

        .ordering-up,
        .ordering-down {
            display: inline-block;
            opacity: 0.1;

            position: absolute;
            cursor: pointer;
            left: -0.1em;

            &.on {
                opacity: 1;
            }
            &.off {
                opacity: 0;
            }
        }

        .ordering-up {
            bottom: -0.2em;
        }
        .ordering-down {
            top: 0.05em;
        }

        &:hover {
            .ordering-up,
            .ordering-down {
                &.on {
                    opacity: 0.2;
                }
                &.off {
                    opacity: 1;
                }
            }
            .ordering-down {
                &:not(.on, .off) {
                    opacity: 1;
                }
            }
        }
    }

    .page-link {
        cursor: pointer;
    }
}
