html {
    font-size: var(--dq-font-size);
}

a,
.btn-link {
    text-decoration: var(--bs-link-decoration);

    &:hover {
        text-decoration: var(--bs-link-hover-decoration);
    }
}

.btn-link {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-weight-size);
}

button {
    [class^="material-symbols"] {
        vertical-align: middle;
        line-height: 0 !important;
        position: relative;
        top: -2px;
    }
}
