:root,
[data-bs-theme=light] {
    --bs-body-font-size: 0.85rem;

    --bs-link-color: #337ab7;
    --bs-link-color-rgb: 51, 122, 183;
    --bs-link-hover-color: var(--bs-link-color);
    --bs-link-hover-color-rgb: var(--bs-link-color-rgb);
    --bs-link-decoration: none;
    --bs-link-hover-decoration: underline;  // this is not an official bootstrap variable

    --dq-card-nav-color: var(--bs-link-color);
    --dq-card-nav-bg: #fff;
    --dq-card-nav-active-color: #fff;
    --dq-card-nav-active-bg: #337ab7;
    --dq-card-nav-hover-color: var(--bs-link-color);
    --dq-card-nav-hover-bg: #efefef;
}
