:root,
[data-bs-theme=light] {
    --bs-body-font-size: 0.85rem;

    --bs-link-color: #337ab7;
    --bs-link-color-rgb: 51, 122, 183;
    --bs-link-hover-color: var(--bs-link-color);
    --bs-link-hover-color-rgb: var(--bs-link-color-rgb);
    --bs-link-decoration: none;
    --bs-link-hover-decoration: underline;  // this is not an official bootstrap variable

    --dq-footer-content-color: white;
    --dq-footer-content-bg: #444B53;
    --dq-footer-content-link-color: var(--dq-footer-content-color);
    --dq-footer-content-link-color-visited: var(--dq-footer-content-link-color);
    --dq-footer-content-link-color-hover: var(--dq-footer-content-link-color);
    --dq-footer-content-link-color-focus: var(--dq-footer-content-link-color);

    --dq-footer-bottom-color: white;
    --dq-footer-bottom-bg: black;
    --dq-footer-bottom-link-color: var(--dq-footer-bottom-color);
    --dq-footer-bottom-link-color-visited: var(--dq-footer-bottom-link-color);
    --dq-footer-bottom-link-color-hover: var(--dq-footer-bottom-link-color);
    --dq-footer-bottom-link-color-focus: var(--dq-footer-bottom-link-color);

    --dq-card-nav-color: var(--bs-link-color);
    --dq-card-nav-bg: #fff;
    --dq-card-nav-active-color: #fff;
    --dq-card-nav-active-bg: #337ab7;
    --dq-card-nav-hover-color: var(--bs-link-color);
    --dq-card-nav-hover-bg: #efefef;
}
