{% load i18n %}
{% load core_tags %}

    <li>
        <a class="dropdown-item" href="{% url 'account_profile' %}">{% trans 'Update profile' %}</a>
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'account_email' %}">{% trans 'Update email' %}</a>
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a>
    </li>
    {% safe_url 'mfa_list_webauthn' as mfa_list_webauthn_url %}
    {% if mfa_list_webauthn_url %}
    <li>
        <a class="dropdown-item" href="{{ mfa_list_webauthn_url }}">{% trans 'Passkeys' %}</a>
    </li>
    {% endif %}
    <li>
        <a class="dropdown-item" href="{% url 'socialaccount_connections' %}">{% trans 'Account connections' %}</a>
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'account_token' %}">{% trans 'API token' %}</a>
    </li>
    <li>
        <hr class="dropdown-divider" />
    </li>
