<script type="text/ng-template" id="tooltip.html">
    <div ng-show="column.description">
        <strong>{$ table.i18n.description $}</strong> {$ column.description $}
    </div>
    <div ng-show="column.unit">
        <strong>{$ table.i18n.unit $}</strong> {$ column.unit $}
    </div>
    <div ng-show="column.ucd">
        <strong>{$ table.i18n.ucd $}</strong> {$ column.ucd $}
    </div>
    <div ng-show="column.datatype">
        <strong>{$ table.i18n.datatype $}</strong> {$ column.datatype $}
    </div>
    <div ng-show="column.arraysize">
        <strong>{$ table.i18n.arraysize $}</strong> {$ column.arraysize $}
    </div>
    <div>
        <strong ng-show="column.principal">{$ table.i18n.principal $}</strong>
    </div>
    <div>
        <strong ng-show="column.indexed">{$ table.i18n.indexed $}</strong>
    </div>
    <div>
        <strong ng-show="column.std">{$ table.i18n.std $}</strong>
    </div>
</script>

<div class="daiquiri-table" ng-show="table.ready">
    <div class="row daiquiri-table-header">
        <div class="col-sm-6">
            <form class="daiquiri-table-search" ng-submit="table.filter()">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="{$ table.i18n.filter $}" ng-model="table.filter_string">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="daiquiri-table-pagination">
                <ul class="pagination">
                    <li>
                        <a href="" ng-click="table.first()">{$ table.i18n.first $}</a>
                    </li>
                    <li>
                        <a href="" ng-click="table.previous()">{$ table.i18n.previous $}</a>
                    </li>
                    <li>
                        <a href="" ng-click="table.next()">{$ table.i18n.next $}</a>
                    </li>
                    <li>
                        <a href="" ng-click="table.last()">{$ table.i18n.last $}</a>
                    </li>
                </ul>

                <ul class="pagination">
                    <li>
                        <a href="" ng-click="table.reset()">{$ table.i18n.reset $}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="daiquiri-table-pane">
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="column in table.columns" data-column-index="{$ $index $}">
                        <div class="cell">
                            <div class="name">
                                <span>{$ column.name $}</span>
                            </div>
                            <div class="info">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </div>
                            <div class="order" ng-click="table.order(column.name)">
                                <i ng-class="{
                                    'fa fa-chevron-down': !table.config.ordering.endsWith(column.name),
                                    'ordered fa fa-chevron-down': table.config.ordering == column.name,
                                    'ordered fa fa-chevron-up': table.config.ordering == '-' + column.name
                                }" aria-hidden="true"></i>
                            </div>
                            <div ng-if="!$last" class="handle" ng-mousedown="table.resize($index)"></div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table.rows" ng-init="row_index = $index"
                    ng-class="{'active': row_index == table.active.row_index}">

                    <td ng-repeat="column in table.columns" ng-init="column_index = $index"
                        ng-class="{'active': column_index == table.active.column_index}">

                        <div class="cell" ng-click="table.activate(column_index, row_index)">
                            <div ng-if="column.display == 'file_link'">
                                <a href="{$ table.file_base_url $}{$ row[column_index] $}">
                                    {$ row[column_index] $}
                                </a>
                            </div>
                            <div ng-if="column.display == 'modal'">
                                <a href="{$ table.file_base_url $}{$ row[column_index] $}"
                                    ng-click="table.modal_open($event, column_index, row_index)">
                                    {$ row[column_index] $}
                                </a>
                            </div>
                            <div ng-if="column.display == 'link'">
                                <a href="{$ row[column_index] $}" target="blank">
                                    {$ row[column_index] $}
                                </a>
                            </div>
                            <div ng-if="column.display == 'text'">
                                {$ row[column_index] $}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row daiquiri-table-footer">
        <div class="col-sm-8 daiquiri-table-count">
            {$ table.i18n.count() $}
        </div>

        <div class="col-sm-4 daiquiri-table-page-size" ng-show="table.page_sizes.length > 1">
            <select class="form-control" ng-model="table.params.page_size" ng-change="table.fetch()" by-number>
                <option value="{$ value $}" ng-repeat="value in table.page_sizes">
                    {$ table.i18n.page_size(value) $}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="modal" id="daiquiri-table-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    {$ table.modal.title $}
                </h4>
            </div>

            <div class="modal-body">
                <pre ng-show="table.modal.pre">{$ table.modal.pre $}</pre>
                <img class="center-block" ng-show="table.modal.src" ng-src="{$ table.modal.src $}" />
            </div>

            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" ng-click="table.modal_left()">
                        {$ table.i18n.previous_column $}
                    </button>
                    <button type="button" class="btn btn-default" ng-click="table.modal_right()">
                        {$ table.i18n.next_column $}
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-default" ng-click="table.modal_up()">
                        {$ table.i18n.previous_row $}
                    </button>
                    <button type="button" class="btn btn-default" ng-click="table.modal_down()">
                        {$ table.i18n.next_row $}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
