.jobs {
    .list-group {
        max-height: 400px;
        overflow-y: auto;

        button.btn-link {
            background-color: var(--bs-light);
        }

        [class*="material-symbols-"] {
            font-size: 1rem;
        }
    }
}
