.jobs {
    [class^="material-symbols"] {
        font-size: 20px;
    }

    .list-group {
        max-height: 400px;
        overflow-y: auto;

        button.btn-link {
            background-color: var(--bs-light);

        }
    }
}

.codemirror {
    .cm-line {
        padding: 0;
    }
}
