__pycache__/
*.py[cod]

*~
*-
*.swp
.DS_Store

/testing/config/settings/local.py
/testing/download
/testing/upload
/testing/log
/testing/media_root
/testing/static_root
/.coverage
/htmlcov
/env
/venv

build
dist
*.egg-info
