__pycache__/
*.py[cod]

*~
*-
*.swp
.DS_Store

# sometimes gcc dumps core when build fails
core

/daiquiri/auth/static/
/daiquiri/contact/static/
/daiquiri/core/static/
/daiquiri/metadata/static/
/daiquiri/query/static/
/daiquiri/serve/static/

/testing/config/settings/local.py
/testing/download
/testing/upload
/testing/log
/testing/media_root
/testing/static_root
/.coverage
/htmlcov
/env
/venv
/node_modules

build
dist
*.egg-info

Makefile

.imdone/
.on-save.json
