__pycache__/
*.py[cod]

*~
*-
*.swp
.DS_Store

/daiquiri/contact/static/
/daiquiri/query/static/

/testing/config/settings/local.py
/testing/download
/testing/upload
/testing/log
/testing/media_root
/testing/static_root
/.coverage
/htmlcov
/env
/venv
/node_modules

build
dist
*.egg-info

.imdone/
.on-save.json
