# in alphabetical order
astropy~=5.1
celery~=5.2.3
coverage~=6.4.2
Django~=4.0.6
django-allauth~=0.51.0
django-compressor~=4.0
django-extensions~=3.2.0
django-filter~=22.1
django-ipware~=4.0.0
django-libsass==0.9
django-sendfile~=0.3.11
django-settings-export~=1.2.1
django-test-generator~=0.6.1
django-vendor-files~=0.3.0
django-user-agents~=0.4.0
django-widget-tweaks~=1.4.5
djangorestframework~=3.13.1
dj-database-url~=0.5.0
drf-extensions~=0.7.1
ipaddress~=1.0.22
iso8601~=1.0.2
jsonfield~=3.1.0
Markdown~=3.4.1
Pygments~=2.12.0
pytest~=6.2.5
pytest-cov~=3.0.0
pytest-django~=4.5.2
pytest-dotenv~=0.5.2
pytest-mock~=3.8.2
pytest-pythonpath~=0.7.4
queryparser_python3~=0.6.0
rules==3.3
XlsxWriter~=3.0.3
