{% extends 'core/wide.html' %}
{% load i18n %}

{% block wide %}

    <h1> {{ full_table_name }} </h1>

          <h2> {% trans 'Description' %}</h2>
            <p> {{ table_description }} </p>

         <h2> {% trans 'Columns' %} </h2>

        <table class="table list-table" infinite-scrsoll="service.scroll()" infinite-scroll-distance="0.2">
        <thead>
            <th style="width: 15%;">{% trans 'Name' %}</th>
            <th style="width: 15%">{% trans 'Type' %}</th>
            <th style="width: 15%;">{% trans 'UCD' %}</th>
            <th style="width: 10%;">{% trans 'Unit' %}</th>
            <th style="width: 40%;">{% trans 'Description' %}</th>
        </thead>
        <tbody>
            {% for column in columns %}
            <tr>
                <td>
                    {{ column.name }}
                </td>
                <td>
                    {{ column.datatype }}
                </td>
                <td>
                    {{ column.ucd }}
                </td>
                <td>
                    {{ column.utype }}
                </td>
                <td>
                    {{ column.description }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}