{% extends 'core/wide.html' %}
{% load i18n %}

{% block wide %}

    <h1>{{ table }}</h1>

    {% if table.description %}
    <h2>{% trans 'Description' %}</h2>
    <p>{{ table.description }}</p>
    {% endif %}

    <h2>{% trans 'Columns' %}</h2>

    <table class="table">
        <thead>
            <th style="width: 15%;">{% trans 'Name' %}</th>
            <th style="width: 15%;">{% trans 'Type' %}</th>
            <th style="width: 15%;">{% trans 'UCD' %}</th>
            <th style="width: 15%;">{% trans 'Unit' %}</th>
            <th style="width: 40%;">{% trans 'Description' %}</th>
        </thead>
        <tbody>
            {% for column in table.columns.all %}
            <tr>
                <td>
                    {{ column.name }}
                </td>
                <td>
                    {{ column.datatype }}
                </td>
                <td>
                    {{ column.ucd|default_if_none:'' }}
                </td>
                <td>
                    {{ column.unit|default_if_none:'' }}
                </td>
                <td>
                    {{ column.description|default_if_none:'' }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
