/* colors */

$text-color: #000000;
$variant-color: #999999;
$headline-color: #000000;
$navigation-color: #999999;
$background-color: #FFFFFF;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
