{% load i18n %}

<p>
    {% trans 'Please specify a coordinate ranges in x, y, z. The query will result in objects that have coordinates in the search box.' %}
</p>

<div class="row fieldset">
    <div class="col-md-6">
        <formgroup
            data-id="x_min"
            data-type="text"
            data-label="{% trans 'X min' %}"
            data-model="service.forms.box.values.x_min"
            data-errors="service.forms.box.errors.x_min">
        </formgroup>
    </div>
    <div class="col-md-6">
        <formgroup
            data-id="x_max"
            data-type="text"
            data-label="{% trans 'X max' %}"
            data-model="service.forms.box.values.x_max"
            data-errors="service.forms.box.errors.x_max">
        </formgroup>
    </div>
</div>

<div class="row fieldset">
    <div class="col-md-6">
        <formgroup
            data-id="y_min"
            data-type="text"
            data-label="{% trans 'Y min' %}"
            data-model="service.forms.box.values.y_min"
            data-errors="service.forms.box.errors.y_min">
        </formgroup>
    </div>
    <div class="col-md-6">
        <formgroup
            data-id="y_max"
            data-type="text"
            data-label="{% trans 'Y max' %}"
            data-model="service.forms.box.values.y_max"
            data-errors="service.forms.box.errors.y_max">
        </formgroup>
    </div>
</div>

<div class="row fieldset">
    <div class="col-md-6">
        <formgroup
            data-id="z_min"
            data-type="text"
            data-label="{% trans 'Z min' %}"
            data-model="service.forms.box.values.z_min"
            data-errors="service.forms.box.errors.z_min">
        </formgroup>
    </div>
    <div class="col-md-6">
        <formgroup
            data-id="z_max"
            data-type="text"
            data-label="{% trans 'Z max' %}"
            data-model="service.forms.box.values.z_max"
            data-errors="service.forms.box.errors.z_max">
        </formgroup>
    </div>
</div>

<div class="row">
    <formgroup
        class="col-md-9"
        data-type="text"
        data-label="{% trans 'Table name' %}"
        data-model="service.forms.box.values.table_name"
        data-errors="service.forms.box.errors.table_name">
    </formgroup>
    <formgroup
        class="col-md-3"
        data-type="select"
        data-label="{% trans 'Queue' %}"
        data-model="service.active_queue"
        data-options="service.queues"
        data-options-label="text">
    </formgroup>
</div>

<button class="btn btn-primary" ng-click="service.forms.box.submit()">
    {% trans 'Submit new box search' %}
</button>
