{% load i18n %}

    <div class="btn-group wide pull-right">
        <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Examples' %} <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
            <div daiquiri-browser data-browser-id="examples" class="daiquiri-metadata-browser"></div>
            <p class="help-block small">
                {% trans 'A double click will paste the example into the query field.' %}
            </p>
        </div>
    </div>
