{% extends 'core/wide.html' %}
{% load staticfiles %}
{% load i18n %}
{% load core_tags %}

{% block bodyargs %}ng-app="users" ng-controller="UsersController"{% endblock %}

{% block headextra %}

    <link rel="stylesheet" href="{% static 'auth/css/users.css' %}" />

    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}" ></script>
    <script type='text/javascript' src="{% static 'ngInfiniteScroll/build/ng-infinite-scroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'auth/js/users.js' %}" ></script>

{% endblock %}

{% block wide %}

    <h1>User management</h1>

    <div class="row list-search">
        <form class="search-form col-sm-6 list-search-form" ng-submit="service.search()">
            <div class="input-group">
                <input class="form-control"
                       id="table-pager-search-input"
                       placeholder="{% trans 'Search entries' %}"
                       type="text" ng-model="service.search_string">
                <a href="" class="input-group-addon" ng-click="service.search()">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </div>
        </form>

        <div class="col-sm-2 list-search-reset">
            <ul class="pagination">
                <li>
                    <a href="" ng-click="service.init()">{% trans 'Reset' %}</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 list-search-count text-right">
            {$ service.count $} {% trans 'Users found' %}
        </div>
    </div>

    <table class="table list-table" infinite-scroll="service.scroll()" infinite-scroll-distance="0.2">
        <thead>
            <th style="width: 30%;">Name (Username)</th>
            <th style="width: 30%;">Email</th>
            <th style="width: 20%;">Information</th>
            <th style="width: 20%;"></th>
        </thead>
        <tbody>
            <tr ng-repeat="row in service.rows">
                <td>
                    <a href="" ng-click="service.modal('show-user-modal', $index)">
                        {$ row.user.first_name $} {$ row.user.last_name $}
                    </a>
                    <em>{$ row.user.username $}</em>
                </td>
                <td>
                    <div ng-repeat="email in row.emails">
                        <a href="mailto:{$ row.user.first_name $} {$ row.user.last_name $} <{$ email.email $}>">
                            {$ email.email $}
                        </a>
                        <span ng-show="!email.verified">({% trans 'not verified' %})</span>
                    </div>
                </td>
                <td>
                    <span ng-show="row.user.is_superuser">{% trans 'Admin' %}</span>
                    <span ng-hide="row.user.is_active">{% trans 'Disabled' %}</span>
                    <span ng-show="row.is_pending">{% trans 'Pending' %}</span>
                    <span ng-show="row.is_confirmed">{% trans 'Confirmed' %}</span>
                </td>
                <td class="text-right list-table-options">

                    {% include 'auth/users_options.html' %}

                </td>
            </tr>
        </tbody>
    </table>

    {% include 'auth/users_modal_show_user.html' %}

    {% include 'auth/users_modal_update_user.html' %}

    {% include 'auth/users_modal_disable_user.html' %}

    {% include 'auth/users_modal_enable_user.html' %}

    {% include 'auth/users_modal_confirm_user.html' %}

    {% include 'auth/users_modal_activate_user.html' %}

{% endblock %}
