{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <main>
    <table class="table">
      <tbody>
      {% for dir_content in directory %}
      <tr>
          <td>
            <a href="{{dir_content.url}}">
            {% if dir_content.is_dir %}
            <i class="bi bi-folder-fill"></i>
            {% else %}
              {% if dir_content.extension %}
                <i class="bi bi-filetype-{{dir_content.extension}}"></i>
              {% else %}
                <i class="bi bi-file-earmark"></i>
              {% endif %}
            {% endif %}
            {{ dir_content.name }}</a>
          </td>
          <td class="text-end">
            {% if not dir_content.is_dir %}
              {{ dir_content.size | filesizeformat }}
            {% endif %}
          </td>
      </tr>
      {% endfor %}
  </tbody>
    </table>
    </main>
</div>
{% endblock %}
