@import 'core/css/variables';

h2.daiquiri-query-form-title,
h2.daiquiri-query-job-title {
    margin-top: 0;
    margin-bottom: 10px;
}

p.daiquiri-query-form-help {
    margin-bottom: 20px;
}

.daiquiri-query-form-bar {
    margin-bottom: 20px;
}

.daiquiri-query-job-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.daiquiri-query-joblist {
    max-height: 400px;
    overflow-y: scroll;
}

.CodeMirror {
    height: 250px;
}

.has-error .CodeMirror {
    border-color: $error-color;
}

.codemirror-error {
    background-color: $error-color;
}
