@font-face {
    font-family: "DroidSans";
    src: url(static('core/fonts/DroidSans.ttf'));
}
@font-face {
    font-family: "DroidSans";
    src: url(static('core/fonts/DroidSans-Bold.ttf'));
    font-weight: bold;
}
@font-face {
    font-family: "DroidSans-Mono";
    src: url(static('core/fonts/DroidSansMono.ttf'));
}

body {
    font-family: DroidSans, sans;
}
