@import 'core/css/variables';

.daiquiri-list {
    .daiquiri-list-header {
        margin-top: 20px;
        margin-bottom: 10px;

        form,
        .pagination {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .count {
            display: inline-block;
            line-height: 34px;
        }
        .pagination {
            margin-left: 5px;
        }
    }
    .daiquiri-list-table {
        th .order {
            cursor: pointer;

            i {
                opacity: 0.2;
            }
            i.ordered {
                opacity: 1;
            }
        }
        ul {
            margin-bottom: 0;
        }
        .options {
            a.fa {
                width: 16px;
                text-align: center;
            }
            .dropdown {
                display: inline-block;

                a.dropdown-toggle {
                    cursor: pointer;
                }
            }
        }
    }
}
