{% extends "core/page.html" %}
{% load i18n %}
{% load allauth %}
{% block page %}
    <h1>{% trans "Remove Passkey" %}</h1>
    <p>Are you sure you want to remove this passkey?</p>
    {% url 'mfa_remove_webauthn' pk=authenticator.pk as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="{% trans "Remove" %}" />
        {% endslot %}
    {% endelement %}
{% endblock %}