.daiquiri-metadata-display dl {
    margin-bottom: 0;
}

.daiquiri-metadata-display ul {
    margin-bottom: 0;
}

.daiquiri-metadata-display .dl-horizontal dt {
    text-align: left;
    font-weight: normal;
}

.daiquiri-metadata-display-title {
    height: 20px;
    margin-bottom: 10px;
}
