{% load i18n %}

    <div class="modal" id="functions-form-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {% trans 'Function' %}
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-md-10"
                            data-id="name"
                            data-type="text"
                            data-label="{{ meta.Function.name.verbose_name }}"
                            data-help="{{ meta.Function.name.help_text }}"
                            data-model="service.values.name"
                            data-errors="service.errors.name">
                        </formgroup>
                        <formgroup
                            class="col-md-2"
                            data-id="order"
                            data-type="number"
                            data-label="{{ meta.Function.order.verbose_name }}"
                            data-help="{{ meta.Function.order.help_text }}"
                            data-model="service.values.order"
                            data-errors="service.errors.order">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="query_string"
                        data-type="text"
                        data-label="{{ meta.Function.query_string.verbose_name }}"
                        data-help="{{ meta.Function.query_string.help_text }}"
                        data-model="service.values.query_string"
                        data-errors="service.errors.query_string">
                    </formgroup>
                    <formgroup
                        data-id="description"
                        data-type="textarea"
                        data-label="{{ meta.Function.description.verbose_name }}"
                        data-help="{{ meta.Function.description.help_text }}"
                        data-model="service.values.description"
                        data-errors="service.errors.description">
                    </formgroup>
                    <div class="row">
                        <formgroup
                            class="col-md-6"
                            data-id="access_level"
                            data-type="select"
                            data-label="{{ meta.Function.access_level.verbose_name }}"
                            data-help="{{ meta.Function.access_level.help_text }}"
                            data-model="service.values.access_level"
                            data-errors="service.errors.access_level"
                            data-options="service.accesslevels"
                            data-options-label="text">
                        </formgroup>
                        <formgroup
                            class="col-md-6"
                            data-id="metadata_access_level"
                            data-type="select"
                            data-label="{{ meta.Function.metadata_access_level.verbose_name }}"
                            data-help="{{ meta.Function.metadata_access_level.help_text }}"
                            data-model="service.values.metadata_access_level"
                            data-errors="service.errors.metadata_access_level"
                            data-options="service.accesslevels"
                            data-options-label="text">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="groups"
                        data-type="multicheckbox"
                        data-label="{% trans 'Groups with access' %}"
                        data-model="service.values.groups"
                        data-errors="service.errors.groups"
                        data-options="service.groups"
                        data-options-label="name">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('functions')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
