{% load i18n %}

    <div class="modal" id="tables-form-modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {% trans 'Tables' %}
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <formgroup
                            class="col-md-4"
                            data-id="database"
                            data-type="selectnumber"
                            data-label="{{ meta.Table.database.verbose_name }}"
                            data-help="{{ meta.Table.database.help_text }}"
                            data-model="service.values.database"
                            data-errors="service.errors.database"
                            data-options="service.databases"
                            data-options-label="label">
                        </formgroup>
                        <formgroup
                            class="col-md-6"
                            data-id="name"
                            data-type="text"
                            data-label="{{ meta.Table.name.verbose_name }}"
                            data-help="{{ meta.Table.name.help_text }}"
                            data-model="service.values.name"
                            data-errors="service.errors.name">
                        </formgroup>
                        <formgroup
                             class="col-md-2"
                            data-id="order"
                            data-type="number"
                            data-label="{{ meta.Table.order.verbose_name }}"
                            data-help="{{ meta.Table.order.help_text }}"
                            data-model="service.values.order"
                            data-errors="service.errors.order">
                        </formgroup>
                    </div>
                    <div class="row">
                        <formgroup
                            class="col-md-10"
                            data-id="title"
                            data-type="text"
                            data-label="{{ meta.Table.title.verbose_name }}"
                            data-help="{{ meta.Table.title.help_text }}"
                            data-model="service.values.title"
                            data-errors="service.errors.title">
                        </formgroup>
                        <formgroup
                            class="col-md-2"
                            data-id="type"
                            data-type="select"
                            data-label="{% trans 'Type' %}"
                            data-model="service.values.type"
                            data-errors="service.errors.type"
                            data-options="service.tabletypes"
                            data-options-label="text">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="description"
                        data-type="textarea"
                        data-label="{{ meta.Table.description.verbose_name }}"
                        data-help="{{ meta.Table.description.help_text }}"
                        data-model="service.values.description"
                        data-errors="service.errors.description">
                    </formgroup>
                    <div class="row">
                        <formgroup
                            class="col-md-4"
                            data-id="license"
                            data-type="select"
                            data-label="{{ meta.Table.license.verbose_name }}"
                            data-help="{{ meta.Table.license.help_text }}"
                            data-model="service.values.license"
                            data-errors="service.errors.license"
                            data-options="service.licenses"
                            data-options-label="text"
                            data-options-null="1">
                        </formgroup>
                        <formgroup
                            class="col-md-4"
                            data-id="pid"
                            data-type="text"
                            data-label="{{ meta.Table.pid.verbose_name }}"
                            data-help="{{ meta.Table.pid.help_text }}"
                            data-model="service.values.pid"
                            data-errors="service.errors.pid">
                        </formgroup>
                        <formgroup
                            class="col-md-4"
                            data-id="utype"
                            data-type="text"
                            data-label="{{ meta.Table.utype.verbose_name }}"
                            data-help="{{ meta.Table.utype.help_text }}"
                            data-model="service.values.utype"
                            data-errors="service.errors.utype">
                        </formgroup>
                    </div>
                    <div class="row">
                        <formgroup
                            class="col-md-6"
                            data-id="access_level"
                            data-type="select"
                            data-label="{{ meta.Table.access_level.verbose_name }}"
                            data-help="{{ meta.Table.access_level.help_text }}"
                            data-model="service.values.access_level"
                            data-errors="service.errors.access_level"
                            data-options="service.accesslevels"
                            data-options-label="text">
                        </formgroup>
                        <formgroup
                            class="col-md-6"
                            data-id="metadata_access_level"
                            data-type="select"
                            data-label="{{ meta.Table.metadata_access_level.verbose_name }}"
                            data-help="{{ meta.Table.metadata_access_level.help_text }}"
                            data-model="service.values.metadata_access_level"
                            data-errors="service.errors.metadata_access_level"
                            data-options="service.accesslevels"
                            data-options-label="text">
                        </formgroup>
                    </div>
                    <formgroup
                        data-id="groups"
                        data-type="multicheckbox"
                        data-label="{% trans 'Groups with access' %}"
                        data-model="service.values.groups"
                        data-errors="service.errors.groups"
                        data-options="service.groups"
                        data-options-label="name">
                    </formgroup>

                    <div ng-hide="service.values.id">
                        <formgroup
                            data-id="discover"
                            data-type="checkbox"
                            data-label="{% trans 'Automatically discover columns' %}"
                            data-model="service.values.discover"
                            data-errors="service.errors.discover">
                        </formgroup>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-default"
                        ng-click="service.discoverItem('tables')">
                        {% trans 'Autofill' %}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="service.submitFormModal('tables')">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
