{% extends 'core/page.html' %}
{% load i18n %}
{% load static %}
{% load core_tags %}
{% load metadata_tags %}

{% block page %}

    <h2 class="hide-overflow">
        Metadata for {{ settings.SITE_TITLE }} databases
    </h2>
    </br>

    <ul class="list-unstyled">
        {% for schema in schemas %}
        <li>
            <h3>
                <a href="{% url 'metadata:schema' schema.name %}">
                    {% if schema.title %}
                    {{ schema.title }} ({{ schema }})
                    {% else %}
                    {{ schema }}
                    {% endif %}
                </a>
            </h3>
            {% if schema.description %}
                {{ schema.description | markdown }}
            {% elif schema.long_description %}
                {{ schema.long_description | markdown }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block sidebar %}

{% endblock %}
