{% extends 'core/page.html' %}
{% load i18n %}
{% load static %}
{% load core_tags %}
{% load metadata_tags %}

{% block page %}

    <h1 class="hide-overflow">
        Database Schemas
    </h1>

    <ul class="list-unstyled">
        {% for schema in schemas %}
        <li>
            <h4>
                <a href="{% url 'metadata:schema' schema.name %}">
                    {% if schema.title %}
                    {{ schema.title }} ({{ schema }})
                    {% else %}
                    {{ schema }}
                    {% endif %}
                </a>
            </h4>
            {% if schema.description %}
            {{ schema.description | markdown }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block sidebar %}

{% endblock %}
