@import 'core/css/variables';

.daiquiri-query {
    min-height: 750px;
}

h2.daiquiri-query-form-title,
h2.daiquiri-query-job-title {
    margin-top: 0;
    margin-bottom: 10px;
}

p.daiquiri-query-form-help {
    margin-bottom: 20px;
}

.daiquiri-query-form-bar {
    margin-bottom: 20px;
}

.daiquiri-query-job-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.daiquiri-query-plot-button {
    margin-top: 25px;
}

.daiquiri-query-plot-canvas {
    margin-bottom: 10px;
    height: 500px;
}

.daiquiri-query-joblist {
    max-height: 400px;
    overflow-y: auto;
}

.daiquiri-query-dropdowns {
    position: relative;
    margin-bottom: 10px;

    @media (max-width: $screen-xs-max) {
        >button {
            width: 100%;
            margin-bottom: 10px;
            text-align: left;

            &.pull-right {
                float: none !important;
            }
        }
    }

    .daiquiri-query-dropdown {

        @media (min-width: $screen-xs-max) {
            position: absolute;
            top: 39px;
            left: 0;
            right: 0;
        }

        .daiquiri-browser {
            margin-bottom: 5px;
        }
        .daiquiri-browser-body {
            height: 168px;
        }
        &.daiquiri-query-dropdown-filter {
            .daiquiri-browser-body {
                height: 123px;
            }
        }
        .daiquiri-query-dropdown-head {
            border-top: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;

            padding: 5px 15px;
        }
        .daiquiri-query-dropdown-body {
            border: 1px solid $border-color;
            height: 155px;

            overflow-y: auto;

            ul.text-danger {
                margin: 0;

                li {
                    margin: 8px;
                }
            }
            table {
                margin: 0;
            }
        }
    }
}

@media (min-width: $screen-xs-max) {
    .daiquiri-query-dropdowns-area {
        height: 220px;
    }
}

.CodeMirror {
    height: 250px;
}

.has-error .CodeMirror {
    border-color: $error-color;
}

.codemirror-error {
    border-radius: 1px;
    background-color: $error-background-color;
}
