{% extends 'core/page.html' %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load core_tags %}

{% block page %}

<h2>Login</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {% include 'core/bootstrap_form_fields.html' with form=form %}

        <input type="submit" class="btn btn-primary" value="{% trans 'Login' %}" />
        <input type="submit" class="btn" name="cancel" value="{% trans 'Cancel' %}" />
    </form>

    <p>
        <a href="{% url 'account_reset_password' %}">{% trans "Help, I forgot my password!" %}</a>
    </p>

{% endblock %}
