@import 'core/css/variables';

html, body {
    height: 100%;
    background-color: $background-color;
}

h1, h2, h3, h4 {
    color: $headline-color;
    line-height: 40px;
}
h3:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}
h5, h6 {
    color: $headline-color;
    font-size: medium;
    line-height: 20px;
}
form {
    margin-top: 20px;
    margin-bottom: 20px;
}
a.glyphicon {
    text-decoration: none;
}

/* navbar */

.navbar.navbar-inverse {
    background-color: $navigation-color;
}
.navbar-inverse {
    border-bottom: none;
}

/* content */

.content {
    padding-top: 60px;
}
.page, .sidebar {
    height: 100%;
    margin-bottom: 60px;
}

/* modals */

.modal-body dl {
    margin-top: 5px;
    margin-bottom: 0;
}
.modal-body dl:first-child {
    margin-top: 0;
}
.modal-seperator {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/* angular list */

.list-search > div {
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-search .pagination {
    margin-top: 0;
    margin-bottom: 0;
}
.list-search .list-search-count {
    line-height: 34px;
}

.list-table .list-table-options {
    white-space: nowrap;
}

.list-table .list-table-options > a {
    margin-left: 5px;
}

/* daiquiri-widget */

.daiquiri-widget {
    border: 1px solid $border-color;
    padding: 10px 15px;
}

.daiquiri-widget :last-child {
    margin-bottom: 0;
}

/* forms */

formgroup:last-child > .form-group {
    margin-bottom: 0;
}

div.control-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.daiquiri-multi-checkbox > :first-child {
    margin-top: 0;
}
.daiquiri-multi-checkbox > :last-child {
    margin-bottom: 0;
}
