@import 'core/css/variables';

.daiquiri-table {
    margin-bottom: 20px;
}
.daiquiri-table h3.popover-title {
    padding: 9px 14px;
    line-height: 20px;
}

/* header */

.daiquiri-table-header {

}
.daiquiri-table-search {
    margin: 0 0 10px 0;
}
.daiquiri-table-pagination {
    margin-bottom: 10px;
}
@media(min-width: $screen-xs-max) {
    .daiquiri-table-pagination {
        text-align: right;
    }
}
.daiquiri-table-pagination .pagination {
    margin: 0;
}

/* pane */

.daiquiri-table-pane {
    border: 1px solid $border-color;
    border-radius: 4px;
    width: auto;
    overflow-x: auto;
}
.daiquiri-table-pane .table {
    margin: 0;
    table-layout: fixed !important;
}
.daiquiri-table-pane .table th,
.daiquiri-table-pane .table td {
    width: 200px;
    padding: 0;
    border-right: 1px solid $border-color;
}
.daiquiri-table-pane .table th:last-child,
.daiquiri-table-pane .table td:last-child {
    border-right: none;
}
.daiquiri-table-pane .table .cell {
    white-space: nowrap;
    padding: 8px;
    position: relative;
}
.daiquiri-table-pane .table th {
    position: relative;
}
.daiquiri-table-pane .table th .name {
    overflow: hidden;
}
.daiquiri-table-pane .table th .order {
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    top: 8px;
    bottom: 8px;
    right: 8px;
}
.daiquiri-table-pane .table th .order i {
    //margin-top: 2px;
    opacity: 0.2;
}
.daiquiri-table-pane .table th .order i.ordered {
    opacity: 1;
}
.daiquiri-table-pane .table th .handle {
    position: absolute;
    z-index: 2000;
    top: 0;
    bottom: 0;
    right: -9px;
    width: 17px;
}
.daiquiri-table-pane .table th .handle:hover {
    cursor: move;
}
.daiquiri-table-pane .table.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* footer */

.daiquiri-table-footer {
    margin-top: 10px;
}
.daiquiri-table-count {
    line-height: 34px;
}
.daiquiri-table-page-size {

}
