/* colors */

$text-color: #000000;
$variant-color: #999999;
$headline-color: #000000;
$navigation-color: #000000;
$background-color: #FFFFFF;
$border-color: #CCCCCC;

$hover-color: #005580;
$hover-background-color: #eee;
$active-color: #fff;
$active-background-color: #08c;

$error-color: #a94442;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
