{% load i18n %}
<div class="row">
    <div class="col-md-4">
    	<label class="control-label" for="plot_x">{% trans 'X axis'%}</label>
        <div class="form-inline" id="plot_x" ng-class="{'has-error': service.plot.errors.x }">
            <select class="form-control-sm" ng-model="service.plot.values.x" ng-change="service.plot.errors.x = null">
                <option value="{$ option.name $}"
                    ng-repeat="option in service.plot.columns">
                    {$ option.name $}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-8">
    	<label class="control-label" for="plot_y">{% trans 'Y<sub>1</sub> axis'%}</label>
        <div class="form-inline" id="plot_y" ng-class="{'has-error': service.plot.errors.y }">
            <select class="form-control-sm" ng-model="service.plot.values.y" ng-change="service.plot.errors.y = null">
                <option value="{$ option.name $}"
                    ng-repeat="option in service.plot.columns">
                    {$ option.name $}
                </option>
            </select>

            <select class="form-control-sm" id="plot_y_color"
            		ng-model="service.plot.colors.y"
            		ng-model-change=""
            		ng-change="service.plot.errors.y = null"
            		style="background-color: {$ service.plot.colors.y $}">
            	<option value="{$ color.hex $}" ng-repeat="color in service.plot.available_colors" ng-style="{'background-color': '{$ color.hex $}'}">
            	                {$ color.name $}
            	</option>
            </select>

            <select class="form-control-sm" id="plot_y_symbol"
                    ng-model="service.plot.symbols.y"
                    ng-model-change=""
                    ng-change="service.plot.errors.y = null">
            	<option value="{$ symbol $}" ng-repeat="symbol in service.plot.available_symbols">
            		{$ symbol $}
            	</option>
            </select>

        </div>
    </div>
</div>



<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-8">
		<label class="control-label" for="plot_y2">{% trans 'Y<sub>2</sub> axis'%}</label>
		<div class="form-inline" id="plot_y2">
		    <select class="form-control-sm" ng-model="service.plot.values.y2" ng-change="service.plot.errors.y2 = null">
			    <option value="">---</option>
			    <option value="{$ option.name $}" ng-repeat="option in service.plot.columns">
			      {$ option.name $}
			    </option>
		    </select>

		    <select class="form-control-sm" id="plot_y2_color"
		    		ng-model="service.plot.colors.y2"
		    		ng-model-change=""
		    		ng-change="service.plot.errors.y2 = null"
		    		style="background-color: {$ service.plot.colors.y2 $}">
	            <option value="{$ color.hex $}" ng-repeat="color in service.plot.available_colors" ng-style="{'background-color': '{$ color.hex $}'}">
	                {$ color.name $}
	            </option>
        	</select>

        	<select class="form-control-sm" id="plot_y2_symbol"
        	        ng-model="service.plot.symbols.y2"
        	        ng-model-change=""
        	        ng-change="service.plot.errors.y2 = null">
        		<option value="{$ symbol $}" ng-repeat="symbol in service.plot.available_symbols">
        	    	{$ symbol $}
        	    </option>
        	</select>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-8">
		<label class="control-label" for="plot_y3">{% trans 'Y<sub>3</sub> axis'%}</label>
		<div class="form-inline" id="plot_y3">
		    <select class="form-control-sm" ng-model="service.plot.values.y3" ng-change="service.plot.errors.y3 = null">
			    <option value="">---</option>
			    <option value="{$ option.name $}" ng-repeat="option in service.plot.columns">
			      {$ option.name $}
			    </option>
		    </select>

		    <select class="form-control-sm" id="plot_y3_color"
		    		ng-model="service.plot.colors.y3"
		    		ng-model-change=""
		    		ng-change="service.plot.errors.y3 = null"
		    		style="background-color: {$ service.plot.colors.y3 $}">
	            <option value="{$ color.hex $}" ng-repeat="color in service.plot.available_colors" ng-style="{'background-color': '{$ color.hex $}'}">
	                {$ color.name $}
	            </option>
	        </select>

        	<select class="form-control-sm" id="plot_y3_symbol"
        	        ng-model="service.plot.symbols.y3"
        	        ng-model-change=""
        	        ng-change="service.plot.errors.y3 = null">
        		<option value="{$ symbol $}" ng-repeat="symbol in service.plot.available_symbols">
        			{$ symbol $}
        	    </option>
        	</select>
		</div>
	</div>
</div>

<ul class="help-block list-unstyled">
    <li ng-show="service.plot.errors.x">
        <span ng-show="service.plot.errors.x == 'empty'">
            {% trans 'No column selected' %}
        </span>
        <span ng-show="service.plot.errors.x != 'empty'">
            {% blocktrans with datatype='{$ service.plot.errors.x $}' %}
            Columns of the type {{ datatype }} can not be plotted
            {% endblocktrans%}
        </span>
    </li>
</ul>

 <ul class="help-block list-unstyled">
     <li ng-show="service.plot.errors.y">
         <span ng-show="service.plot.errors.y == 'empty'">
             {% trans 'No column selected' %}
         </span>
         <span ng-show="service.plot.errors.y != 'empty'">
             {% blocktrans with datatype='{$ service.plot.errors.y $}' %}
             Columns of the type {{ datatype }} can not be plotted
             {% endblocktrans%}
         </span>
     </li>
 </ul>
