{% load i18n %}

<button type="button" class="btn btn-default"
    ng-click="service.forms.sql.toggleDropdown('databases')"
    ng-class="{'active': service.forms.sql.dropdown == 'databases'}">

    {% trans 'Databases' %} <span class="caret"></span>
</button>

<div class="daiquiri-query-dropdown" ng-show="service.forms.sql.dropdown == 'databases'">
    <div daiquiri-browser data-browser-id="databases" class="daiquiri-metadata-browser"></div>
    <p class="help-block small">
        {% trans 'A double click will paste the database/table/column into the query field.' %}
    </p>
</div>
