{% extends 'core/wide.html' %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% load core_tags %}

{% block bodyargs %}ng-app="query" ng-controller="QueryController"{% endblock %}

{% block headextra %}
    {% vendor 'angular' %}
    {% vendor 'ng-infinite-scroll' %}
    {% vendor 'codemirror' %}
    {% vendor 'moment' %}
    {% vendor 'Bokeh' %}

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/browser.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/table.scss' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/codemirror.scss' %}" />

    <link rel="stylesheet" type="text/x-scss" href="{% static 'query/css/query.scss' %}" />
    {% endcompress css %}

    {% compress js %}
    <script type="text/javascript" src="{% static 'core/js/core.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/filter.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/multiCheckbox.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/byNumber.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/formgroup.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/browser.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/table.js' %}" ></script>

    <script type="text/javascript" src="{% static 'query/js/query.js' %}" ></script>
    <script type="text/javascript" src="{% static 'query/js/services/query.js' %}" ></script>
    <script type="text/javascript" src="{% static 'query/js/services/polling.js' %}" ></script>
    <script type="text/javascript" src="{% static 'query/js/services/plot.js' %}" ></script>
    <script type="text/javascript" src="{% static 'query/js/services/download.js' %}" ></script>

    {% for dropdown in settings.QUERY_DROPDOWNS %}
    <script type="text/javascript" src="{% static dropdown.service %}" ></script>
    {% endfor %}

    {% for form in settings.QUERY_FORMS %}
    <script type="text/javascript" src="{% static form.service %}" ></script>
    {% endfor %}
    {% endcompress js %}

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}

{% block wide %}

    <h1>{% trans 'Query interface' %}</h1>

    <div class="daiquiri-query row" ng-cloak>
        <div class="col-md-3">
            {% include 'query/query_sidebar.html' %}
        </div>
        <div class="col-md-9">
            {% for form in settings.QUERY_FORMS %}

                {% include 'query/query_form.html' %}

            {% endfor %}

            <div ng-show="service.job">

                <h2 class="daiquiri-query-job-title">{% trans 'Query job' %} `{$ service.job.table_name $}`</h2>

                <ul class="nav nav-tabs daiquiri-query-job-tabs">
                    <li role="presentation" ng-class="{active: service.tab == 'overview'}">
                        <a href="" ng-click="service.activateTab('overview')">
                            {% trans 'Job overview' %}
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: service.tab == 'results'}" ng-show="service.job.phase == 'COMPLETED'">
                        <a href="" ng-click="service.activateTab('results');">
                            {% trans 'Results table' %}
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: service.tab == 'plot'}" ng-show="service.job.phase == 'COMPLETED'">
                        <a href="" ng-click="service.activateTab('plot');">
                            {% trans 'Plot' %}
                        </a>
                    </li>
                    <li role="presentation" ng-class="{active: service.tab == 'download'}" ng-show="service.job.phase == 'COMPLETED'">
                        <a href="" ng-click="service.activateTab('download');">
                            {% trans 'Download' %}
                        </a>
                    </li>
                </ul>

                <div ng-show="service.tab == 'overview'">
                    {% include 'query/query_overview.html' %}
                </div>
                <div ng-show="service.tab == 'results'">
                    {% include 'query/query_results.html' %}
                </div>
                <div ng-show="service.tab == 'plot'">
                    {% include 'query/query_plot.html' %}
                </div>
                <div ng-show="service.tab == 'download'">
                    {% include 'query/query_download.html' %}
                </div>

            </div>

        </div>
    </div>

{% include 'query/query_modal_rename_job.html' %}
{% include 'query/query_modal_abort_job.html' %}
{% include 'query/query_modal_remove_job.html' %}

{% endblock %}
