{% extends 'core/wide.html' %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% load core_tags %}

{% block bodyargs %}ng-app="cutout" ng-controller="CutoutController" ng-init="service.init({{ defaults | dict2js }})"{% endblock %}

{% block headextra %}
    {% vendor 'angular' %}

    {% compress js %}
    <script type="text/javascript" src="{% static 'core/js/core.js' %}" ></script>
    <script type="text/javascript" src="{% static 'core/js/formgroup.js' %}" ></script>

    <script type="text/javascript" src="{% static 'cutout/js/cutout.js' %}" ></script>
    {% endcompress js %}
{% endblock %}

{% block wide %}

    <h1>{% trans 'Cut-Out Service' %}</h1>

    <div class="row">
        <formgroup
            class="col-md-4"
            data-id="ra"
            data-type="number"
            data-label="{% trans 'RA' %}"
            data-help="Central right ascension (J2000) in deg"
            data-model="service.values.ra"
            data-errors="service.errors.ra">
        </formgroup>
        <formgroup
            class="col-md-4"
            data-id="a"
            data-type="number"
            data-label="{% trans 'a' %}"
            data-help="Radius in RA in arcsec"
            data-model="service.values.a"
            data-errors="service.errors.a">
        </formgroup>
    </div>

    <div class="row">
        <formgroup
            class="col-md-4"
            data-id="dec"
            data-type="number"
            data-label="{% trans 'DEC' %}"
            data-help="Central declination (J2000) in deg"
            data-model="service.values.dec"
            data-errors="service.errors.dec">
        </formgroup>
        <formgroup
            class="col-md-4"
            data-id="a"
            data-type="number"
            data-label="{% trans 'b' %}"
            data-help="Radius in DEC in arcsec"
            data-model="service.values.b"
            data-errors="service.errors.b">
        </formgroup>
    </div>

    <div class="row">
        <formgroup
            class="col-md-4"
            data-id="l0"
            data-type="number"
            data-label="&#955;<sub>0</sub>"
            data-help="Start of the wavelength in &Aring;"
            data-model="service.values.l0"
            data-errors="service.errors.l0">
        </formgroup>
        <formgroup
            class="col-md-4"
            data-id="l1"
            data-type="number"
            data-label="&#955;<sub>1</sub>"
            data-help="End of the wavelength range in &Aring;"
            data-model="service.values.l1"
            data-errors="service.errors.l1">
        </formgroup>
    </div>

    <button type="button" class="btn btn-primary" ng-click="service.download()">
        {% trans 'Download cut-out' %}
    </button>
    <button type="button" class="btn btn-default" ng-click="service.reset()">
        {% trans 'Reset values' %}
    </button>

    <p style="margin-top: 20px">
        {% trans 'It can take a moment until the download starts. Please be patient.' %}
    </p>
    <p>
        {% trans 'This datacube can also be directly downloaded using the following url:' %}
    </p>
    <p>
        <a href="{% absolute_url 'cutout:datacube-list' %}?{$ service.query_params $}">
            {% absolute_url 'cutout:datacube-list' %}?{$ service.query_params $}
        </a>
    </p>

{% endblock %}
