{% load i18n %}

    <div class="modal" id="contributions-form-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans 'Contribution' %}</h4>
                </div>

                <div class="modal-body">
                    <formgroup
                        data-id="title"
                        data-type="text"
                        data-label="{{ meta.Contribution.title.verbose_name }}"
                        data-model="service.values.title"
                        data-errors="service.errors.title">
                    </formgroup>
                    <formgroup
                        data-id="abstract"
                        data-type="textarea"
                        data-label="{{ meta.Contribution.abstract.verbose_name }}"
                        data-model="service.values.abstract"
                        data-errors="service.errors.abstract">
                    </formgroup>
                    <formgroup
                        data-id="contribution_type"
                        data-type="select"
                        data-label="{{ meta.Contribution.contribution_type.verbose_name }}"
                        data-model="service.values.contribution_type"
                        data-errors="service.errors.contribution_type"
                        data-options="service.contribution_types"
                        data-options-label="text">
                    </formgroup>
                    <formgroup
                        data-id="accepted"
                        data-type="checkbox"
                        data-label="{{ meta.Contribution.accepted.verbose_name }}"
                        data-model="service.values.accepted"
                        data-errors="service.errors.accepted">
                    </formgroup>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="service.store_contribution()">
                        {% trans 'Save' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
