<div class="daiquiri-table">
    <div class="row daiquiri-table-header">
        <div class="col-sm-6">
            <form class="daiquiri-table-search" ng-submit="table.filter()">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="{$ table.i18n.filter $}" ng-model="table.filter_string">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="daiquiri-table-pagination">
                <ul class="pagination">
                    <li>
                        <a href="" ng-click="table.first()">{$ table.i18n.first $}</a>
                    </li>
                    <li>
                        <a href="" ng-click="table.previous()">{$ table.i18n.previous $}</a>
                    </li>
                    <li>
                        <a href="" ng-click="table.next()">{$ table.i18n.next $}</a>
                    </li>
                    <li>
                        <a href="" ng-click="table.last()">{$ table.i18n.last $}</a>
                    </li>
                </ul>

                <ul class="pagination">
                    <li>
                        <a href="" ng-click="table.reset()">{$ table.i18n.reset $}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="daiquiri-table-pane">
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="column in table.columns" data-column-index="{$ $index $}">
                        <div class="cell">
                            <div class="name">
                                {$ column.name $}
                            </div>
                            <div class="order" ng-click="table.order(column.name)">
                                <i ng-class="{
                                    'fa fa-chevron-down': !table.config.ordering.endsWith(column.name),
                                    'ordered fa fa-chevron-down': table.config.ordering == column.name,
                                    'ordered fa fa-chevron-up': table.config.ordering == '-' + column.name
                                }" aria-hidden="true"></i>
                            </div>
                            <div ng-if="!$last" class="handle" ng-mousedown="table.resize($index)"></div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table.rows">
                    <td ng-repeat="element in row track by $index">
                        <div class="cell">
                            {$ element $}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row daiquiri-table-footer">
        <div class="col-sm-8 daiquiri-table-count">
            {$ table.i18n.count() $}
        </div>

        <div class="col-sm-4 daiquiri-table-page-size">
            <select class="form-control" ng-model="table.config.page_size" ng-change="table.fetch()" by-number>
                <option value="{$ value $}" ng-repeat="value in values">
                    {$ table.i18n.page_size(value) $}
                </option>
            </select>
        </div>
    </div>
</div>
