{% extends "core/page.html" %}
{% load i18n %}
{% load allauth %}
{% load allauth static %}
{% block page %}
    <h1>{% trans "Passkey Authentication" %}</h1>
    <p>{% trans "You have a passkey. This is also required to sign in." %}</p>
    {% url 'mfa_authenticate' as action_url %}
    {% if "webauthn" in MFA_SUPPORTED_TYPES %}

        <div class="d-flex gap-2">
            <input type="button" id="mfa_webauthn_authenticate" class="btn btn-primary" value="{% trans 'Submit passkey' %}" />
            <form method="post" action="{% url 'account_logout' %}" novalidate class="d-inline">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="{% trans 'Cancel' %}" />
            </form>
        </div>
            {% element form id="webauthn_form" form=webauthn_form method="post" action=action_url no_visible_fields=True %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=webauthn_form %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
            {{ js_data|json_script:"js_data" }}
            {% include "mfa/webauthn/snippets/scripts.html" %}
            <script data-allauth-onload="allauth.webauthn.forms.authenticateForm" type="application/json">{
    "ids": {
        "authenticate": "mfa_webauthn_authenticate",
        "credential": "{{ webauthn_form.credential.auto_id }}",
        "data": "js_data"
    }
}
            </script>
    {% endif %}
    <form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
        <input type="hidden" name="next" value="{% url 'account_login' %}">
        {% csrf_token %}
    </form>
{% endblock page %}
