{% load static %}<!DOCTYPE html>
<html>

<head>

{% include 'core/new/base_head.html' %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/dist/css/base.css' %}" type="text/css" />
{% endblock %}

{% block js %}
<script src="{% static 'core/dist/js/base.js' %}" defer></script>
{% endblock %}

</head>

<body>

{% include 'core/new/base_navigation.html' %}

{% block content %}{% endblock %}

{% include 'core/new/base_footer.html' %}

{% if not debug %}{% include 'core/base_analytics.html' %}{% endif %}
</body>

</html>
